@import '../variables';
@import '../typography';
@import '../utilities';

%button-style-internal-span-styling {
  cursor: pointer;
  display: flex;
  font-weight: normal;
  align-items: center;
  justify-content: center;
  background-color: $color-white;
  border-radius: $element-corner-radius;
  box-shadow: $box-shadow-buttons;
  padding: 1.6rem 1.5rem 1.4rem;

  transition: background-color 0.2s;
}

%label-checkbox-radio {
  @extend %form-label;

  input[type='checkbox'], input[type='radio'] {
    @extend %visuallyhidden;
  }

  input + span {
    @extend %button-style-internal-span-styling;
  }

  input:checked + span {
    background-color: $color-blue-turquoise;
    box-shadow: inset $box-shadow-buttons;
  }

  input:disabled + span {
    opacity: 0.5;
  }
}
