@import '../variables';
@import '../layout';

.coaches-component {
  @extend %block-wrapper;

  background-color: $color-beige-cream;
  padding: 3rem;

  h3 {
    margin-top: 0;
    margin-bottom: 2rem;
  }

  @media (min-width: $small-screen) {
    padding: 4rem;

    article {
      display: flex;
    }
  }

  @media (min-width: $medium-screen) {
    padding: 7rem;
  }
}

.coach-photo {
  flex-shrink: 0;

  text-align: center;

  img {
    width: 100%;
    max-width: 27rem;
    object-fit: cover;
  }

  @media (min-width: $small-screen) {
    max-width: 20rem;
    max-height: 20rem;
  }

  @media (min-width: $medium-screen) {
    max-width: 27rem;
    max-height: 27rem;
  }
}

.coach-content {
  text-align: center;

  h4 {
    font-size: $text-size-sm;
    margin-top: 3rem;
    margin-bottom: 0.5rem;
  }

  blockquote {
    margin: 0;
    font-size: $text-size-sm;
    line-height: 2.4rem;
  }

  cite {
    display: block;
    margin: 1rem 0 2rem;
    text-transform: uppercase;
    font: {
      weight: 600;
      size: $text-size-xs;
      style: normal;
    }
  }

  @media (min-width: $small-screen) {
    padding-left: 2.7rem;

    text-align: left;

    h4 {
      font-size: $text-size-body;
      margin-top: 0;
      margin-bottom: 1rem;
    }

    blockquote {
      line-height: 3rem;
    }
  }

  @media (min-width: 700px) {
    padding-left: 3.7rem;
  }

  @media (min-width: $medium-screen) {
    padding-left: 7.7rem;

    h4 {
      font-size: $text-size-ml;
      margin-bottom: 2rem;
    }

    blockquote {
      line-height: 3.4rem;
      font-size: $text-size-md;
    }

    cite {
      font-size: $text-size-body;
      margin-bottom: 4rem;
    }
  }

  button {
    text-transform: none;
    font-weight: 600;
  }
}

.next-coach-arrow {
  width: 1.8rem;
  margin-left: 0.25rem;
}
