@font-face {
  font-family: 'Adelle Sans';
  font-weight: 300;
  font-style: normal;
  src: url('../fonts/34D8A2_0_0.eot'),
  url('../fonts/34D8A2_0_0.woff2') format('woff2'),
  url('../fonts/34D8A2_0_0.woff') format('woff'),
  url('../fonts/34D8A2_0_0.ttf')  format('truetype')
}

@font-face {
  font-family: 'Adelle Sans';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/34D8A2_2_0.eot'),
url('../fonts/34D8A2_2_0.woff2') format('woff2'),
url('../fonts/34D8A2_2_0.woff') format('woff'),
url('../fonts/34D8A2_2_0.ttf')  format('truetype')
}

@font-face {
  font-family: 'Adelle Sans';
  font-weight: 600;
  font-style: normal;
  src: url('../fonts/34D8A2_3_0.eot'),
url('../fonts/34D8A2_3_0.woff2') format('woff2'),
url('../fonts/34D8A2_3_0.woff') format('woff'),
url('../fonts/34D8A2_3_0.ttf')  format('truetype')
}

@font-face {
  font-family: 'Adelle Sans';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/34D8A2_1_0.eot'),
url('../fonts/34D8A2_1_0.woff2') format('woff2'),
url('../fonts/34D8A2_1_0.woff') format('woff'),
url('../fonts/34D8A2_1_0.ttf')  format('truetype')
}

